.menuBar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
    background-color: $color--grey;
    z-index: 100;
}

.menuBar__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    padding: 10px 20px;
    background-color: $color--grey;
}

.menuBar__menuToggler {
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menuBar__togglerBar {
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: all .3s;
}

.menuBar__menuToggler--clicked .menuBar__togglerBar1 {
    transform: rotate(-45deg) translateX(-1.5px);
    transform-origin: 100% 0%;
}

.menuBar__menuToggler--clicked .menuBar__togglerBar2 {
    opacity: 0;
}

.menuBar__menuToggler--clicked .menuBar__togglerBar3 {
    transform: rotate(45deg) translateX(1.5px);
    transform-origin: 100% 0%;
}

.menuBar__listContainer {
    position: absolute;
    margin: 0;
    top: 60px;
    left: 0px;
    width: 100%;
    background-color: $color--grey;
    color: #fff;
    font-size: 26px;
    border-top: 1px solid $color--khaki;
    z-index: -1;
    transition: $cubic--transition .6s;
}

.menuBar__listContainer--hidden {
    transform: translateY(-100%) translateY(-60px);
}

.menuBar__item {
    margin: 1rem 0;
}

@media (min-width: $desktop--breakPoint) {
    .menuBar__menuToggler {
        display: none;
    }

    .menuBar__listContainer {
        position: static;
        transition: none;
        display: flex;
        border: 0;
        top: auto;
        left: auto;
        width: auto;
        z-index: 0;
    }

    .menuBar__item {
        height: auto;
        margin: 0;
        padding: 0 1rem;
        border-right: 1px solid $color--khaki;
    }

    .menuBar__item:last-child {
        border-right-width: 0;
    }

    .menuBar__listContainer--hidden {
        transform: none;
    }
}
