@font-face {
  font-family: Steelfish;
  font-weight: 600;
  src: url(steelfish.ttf);
}
body {
  padding: 0;
  margin: 0;
}

* {
  font-family: Steelfish;
  letter-spacing: 1px;
  box-sizing: border-box;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
  position: relative;
}
a:hover {
  color: #c4a07d;
}

ul {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

.cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover--hidden {
  display: none;
}

.ionicIcon {
  font-size: 36px;
  color: inherit;
  margin: 0.5rem;
}

.ionicIcon--blue {
  color: #6279B8;
}

@media (min-width: 768px) {
  .ionicIcon--big {
    font-size: 60px;
  }
}
.button {
  font-size: 20px;
  background-color: #4C9F70;
  padding: 8px 40px;
  border: 0;
  margin: 0.5rem;
  border-radius: 3px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  outline: none;
}

.button--secondary {
  color: #4C9F70;
  background-color: #fff;
}

@media (min-width: 768px) {
  .button {
    font-size: 24px;
    padding: 10px 35px;
  }
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid black;
}
.logo::after {
  content: "A";
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 80%;
  height: 80%;
  border: 1.5px solid black;
  font-size: 52px;
}

.logo__caption {
  font-size: 30px;
  padding: 5%;
}

.logo__caption--white {
  color: white;
}

.logo--white {
  color: #fff;
  border-color: #fff;
}
.logo--white::after {
  border-color: #fff;
}

.logo--small {
  width: 40px;
  height: 40px;
  border-width: 2px;
}
.logo--small::after {
  border-width: 1px;
  font-size: 26px;
}

@media (min-width: 768px) {
  .logo--big {
    width: 160px;
    height: 160px;
    border-width: 5px;
  }
  .logo--big::after {
    border-width: 2px;
    font-size: 100px;
  }
}
.menuBar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60px;
  background-color: #222;
  z-index: 100;
}

.menuBar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  padding: 10px 20px;
  background-color: #222;
}

.menuBar__logoContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.menuBar__mainPageLink {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.menuBar__menuToggler {
  width: 30px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menuBar__togglerBar {
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: all 0.3s;
}

.menuBar__menuToggler--clicked .menuBar__togglerBar1 {
  transform: rotate(-45deg) translateX(-1.5px);
  transform-origin: 100% 0%;
}

.menuBar__menuToggler--clicked .menuBar__togglerBar2 {
  opacity: 0;
}

.menuBar__menuToggler--clicked .menuBar__togglerBar3 {
  transform: rotate(45deg) translateX(1.5px);
  transform-origin: 100% 0%;
}

.menuBar__listContainer {
  position: absolute;
  margin: 0;
  top: 60px;
  left: 0px;
  width: 100%;
  background-color: #222;
  color: #fff;
  font-size: 26px;
  border-top: 1px solid #c4a07d;
  z-index: -1;
  transition: cubic-bezier(0.42, 0, 0.54, 1.82) 0.6s;
}

.menuBar__listContainer--hidden {
  transform: translateY(-100%) translateY(-60px);
}

.menuBar__item {
  margin: 1rem 0;
}

@media (min-width: 768px) {
  .menuBar__menuToggler {
    display: none;
  }

  .menuBar__listContainer {
    position: static;
    transition: none;
    display: flex;
    border: 0;
    top: auto;
    left: auto;
    width: auto;
    z-index: 0;
  }

  .menuBar__item {
    height: auto;
    margin: 0;
    padding: 0 1rem;
    border-right: 1px solid #c4a07d;
  }

  .menuBar__item:last-child {
    border-right-width: 0;
  }

  .menuBar__listContainer--hidden {
    transform: none;
  }
}
.sectionHeader {
  position: relative;
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
}
.sectionHeader::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(34, 34, 34, 0.4);
}

.sectionHeader__textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.sectionHeader__header {
  font-size: 50px;
  margin: 0;
  margin-bottom: 3rem;
  position: relative;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
}

.sectionHeader__description {
  display: none;
}

.sectionHeader--menuPage {
  background: url("../img/two-pizzas.jpg") #222 no-repeat center/cover;
}

@media (min-width: 768px) {
  .sectionHeader__header {
    font-size: 100px;
  }
  .sectionHeader__header::after {
    content: " ";
    position: absolute;
    bottom: -1.5rem;
    left: 0;
    right: 0;
    margin: auto;
    width: 50%;
    height: 3px;
    background-color: #fff;
  }

  .sectionHeader__description {
    display: block;
    font-size: 36px;
    margin: 0;
    margin-bottom: 0.3rem;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
}
.welcomePage {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: url("../img/pizza_on_black_bck.jpg") #222 no-repeat center/cover;
  color: white;
}
.welcomePage::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(34, 34, 34, 0.4);
}

.welcomePage__textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.welcomePage__companyName {
  font-size: 72px;
  letter-spacing: 6px;
  margin: 1rem 0;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
}

.welcomePage__slogan {
  display: flex;
  margin-bottom: 4rem;
}

.welcomePage__sloganWord {
  margin: 0;
  font-size: 24px;
  padding: 0 1rem;
  border-right: 2px solid #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.welcomePage__sloganWord:last-child {
  border-right-width: 0px;
}

.welcomePage__buttons {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .welcomePage__companyName {
    font-size: 100px;
  }

  .welcomePage__sloganWord {
    font-size: 36px;
  }
}
.menuPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fff;
  color: #222;
}

.menuPage__spacer {
  width: 100%;
  height: 160px;
  color: #222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-align: center;
  padding: 24px;
}

.menuPage__categoriesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.menuPage__categoryContainer {
  width: 100%;
  border-bottom: 1px solid #e1e1e1;
}
.menuPage__categoryContainer:first-child {
  border-top: 1px solid #e1e1e1;
}

.menuPage__categoryHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  height: 100px;
}

.menuPage__headerText {
  color: #222;
  font-size: 30px;
  z-index: 2;
}

.menuPage__expandIcon {
  position: absolute;
  right: 30px;
  border: 2px solid #a2a2a2;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  z-index: 2;
}
.menuPage__expandIcon::after {
  content: " ";
  position: absolute;
  border: inherit;
  border-left-width: 0;
  border-top-width: 0;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  left: 7px;
  top: 5px;
  transition: cubic-bezier(0.42, 0, 0.54, 1.82) 0.6s;
}

@media (min-width: 768px) {
  .menuPage__spacer {
    font-size: 30px;
  }

  .menuPage__headerText {
    font-size: 42px;
  }

  .menuPage__categoryHeader {
    height: 160px;
  }

  .menuPage__categoryHeaderBck {
    background-position: center -60px;
    background-repeat: no-repeat;
    transition: all 1s;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  .menuPage__categoryHeader:hover {
    background-position: center;
  }
  .menuPage__categoryHeader:hover::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(34, 34, 34, 0.4);
  }
  .menuPage__categoryHeader:hover .menuPage__headerText {
    color: #fff;
  }
  .menuPage__categoryHeader:hover .menuPage__expandIcon {
    border-color: #fff;
  }
  .menuPage__categoryHeader:hover .menuPage__categoryHeaderBck {
    opacity: 1;
    background-position: center;
  }
  .menuPage__categoryHeader:hover .menuPage__categoryHeader--pizza {
    background-image: url("../img/pizza_menu_bck.jpg");
  }
  .menuPage__categoryHeader:hover .menuPage__categoryHeader--pierogi {
    background-image: url("../img/pierogi_menu_bck.jpg");
  }
  .menuPage__categoryHeader:hover .menuPage__categoryHeader--przekaski {
    background-image: url("../img/calzone_menu_bck.jpg");
  }
  .menuPage__categoryHeader:hover .menuPage__categoryHeader--napoje {
    background-image: url("../img/beverage_menu_bck.jpg");
  }
}

/*# sourceMappingURL=style.css.map */
